.users_ava {
    border-radius: 15px;
    box-shadow: 1px 1px 10px 2px #265171;
    margin: 10px;
    width: 250px;
    height: 250px;
}

.nameStatus {
    display: flex;
    justify-content: center;
    width: 265px;
    font-size: 18px;
    font-family: "Marck Script",sans-serif;
    text-align: center;
}

.containerInput {
    display: flex;
    justify-content: center;
}
.container {
    padding: 20px;
}
.data_users {
    display: block;
    height: 300px;
    border-color: #265171;
}

.usersContainer {
    display: flex;
    height: 250px;
    width: auto;
    border-color: #265171;
}

.data {
    margin: 10px;
    background-color: azure;
    border-radius: 15px;
    height: 250px;
}

.dataContainer {
    border-radius: 15px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.fullname {
    width: 70%;
}

.name {
    margin-right: 20px;
    font-weight: bold;
}

.listAboutUsers {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.user {
    display: flex;
    margin: 5px;
}
.photo div{
    background-image: url("../../Picture/m.jpg");
    width: 100%;
    padding-bottom: 200px;
    background-repeat: no-repeat;

}
