.users_ava {
    border-radius: 15px;
    box-shadow: 1px 1px 10px 2px #265171;
    margin: 10px;
    width: 250px;
    height: 250px;
}

.formSummaryError {
    border: 1px solid red;
    color: red;
}

.decoreInput {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    background-color: #a4c1e9;
}

.nameStatus {
    display: flex;
    justify-content: center;
    width: 265px;
    font-size: 18px;
    font-family: "Marck Script", sans-serif;
    text-align: center;
    margin-top: 20px;
}

textarea {
    width: 50px;
    height: auto;
}

.containerInput {
    display: flex;
    justify-content: center;
}

.container {
    padding: 20px;
}

.data_users {
    display: block;
    height: 300px;
    border-color: #265171;
    width: 300px;
}

.usersContainer {
    display: flex;
    height: 250px;
    width: auto;
    border-color: #265171;
}

.data {
    margin: 10px;
    background-color: azure;
    border-radius: 15px;
    height: 250px;
}

.dataContainer {
    border-radius: 15px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.fullname {
    width: 70%;
}

.contactsForm {
    margin-left: 80px;
}

.name {
    margin-right: 20px;
    font-weight: bold;
    width: 95px;
}

.status {
    display: flex;
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    margin-top: 20px;
}

.contactContainer {
    margin-left: 15px;

}

.decoreContacts {
    color: #F137A6;
    text-decoration: underline;
}

.contacts {
    margin-left: 30px;
}

.listAboutUsers {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 20px;
}

.user {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.photo div {
    background-image: url("../../assets/m.png");
    width: 100%;
    padding-bottom: 200px;
    background-repeat: no-repeat;
}
