.header {
    background-color: #455c83;
    grid-area: header;
    border-radius: 10px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    background-image: url("../../Picture/icon_mario.png");
    background-repeat: no-repeat;
}

.header img {
    height:70px;
    width: 70px;
}
.loginBlock{
    float: left;
    padding: 10px;
}
.loginBlock a{
    color: #fff6e6;
    text-decoration: none;
}
.logOut {
    border-radius:10%;
    background-color: #a4c1e9;
    box-shadow: #265171;
}
