
.header {
    background-color: #455c83;
    grid-area: h;
}

.header img {
    height:70px;
    width: 70px;
}
.loginBlock{
    float: left;
    padding: 10px;
}
.loginBlock a{
    color: #fff6e6;
    text-decoration: none;

}
