.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;

}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}
.dialog .active{
    color: gold;
}